.App {
  display: flex;
}

.page-wrapper{
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
}

.page-content {
  display: flex;
  width: 100%;
}

.poke-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.poke-detail {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.tab-list {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.tab.active {
  background-color: 	#00BFFF;
  color: white;
}

.tab-content {
  margin-top: 10px;
}

.button-dev{
  margin: 10px;
  color: blueviolet;
}

.content-popup-inside{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.content-popup-pokemon-name{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: 	#D2691E;
}

.pop-up-DaraGrid{
  display: flex;
  justify-content: center;
  margin: 10px;
}