.App {
  display: flex;
}

.page-wrapper{
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.page-content {
  display: flex;
  width: 100%;
}

.poke-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.poke-detail {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.tab-list {
  display: flex;
  justify-content: flex-start;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  margin-top: 10px;
}